*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
  
}

/*   Media Queries   */

/*Small Devices*/

@media screen and (max-width:380px){
  .cjnsGX{
    padding: 0 08px;
    
  }
}