


.services_modal_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .82);
    z-index: var(--z-modal);
    transition: all ease .32s;
    height: 100vh;
    overflow-y: hidden;
    
  
}


.services_normal{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    
.services_modal{
    display:'flex';
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:  2rem;
    width: 70%;   
    background-color: #fff;
    border-radius: 2rem;
}

