@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;600&display=swap');


.elementsind{
    color:#222;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.9;
    margin-left: 10px;
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Mukta', sans-serif;
}


/*   Media Queries   */

/*Small Devices*/

@media screen and (max-width:380px){
    .cjnsGX{
      padding: 0 08px !important;
      height: auto !important;

      
    }
  }