.back{
   /* background: linear-gradient(to right, #92FE9D, #00C9FF);
    background: linear-gradient(to right, rgb(87, 203, 209), rgba(160, 213, 91));*/
   background: linear-gradient(to right, #23819b, #01bf71);
   background: linear-gradient(to right, #13647a, #05b56c);
   background: linear-gradient(to right, #052932, #005432);







}

